<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <%-include("./partials/navbar",{title:"Petisi Online"})%>
    <section class="content">
        <form action="/dashboard/post" method="post" class="wrapper">
            <input type="hidden" name="userId" value="<%=userId%>">
            <input type="text" name="title" class="content-title" placeholder="Type your title name" required>
            <textarea name="content" placeholder="Just type you want to say" required></textarea>
            <input type="submit" value="Post">
        </form>
        <section class="wrapper">
            <div class="content-list">
            <%listPost.map((value)=>{%>
                <div class="each">
                    <span class="title">
                        <a href="/dashboard/post/<%=value.id%>"><%=value.title%></a>
                    </span>
                    <hr>
                    <%if(value.content.length > 300){%>
                        <span class="preview"><%=value.content.substring(0,300)%>...</span>
                    <%}else{%>
                        <span class="preview"><%=value.content%></span>
                    <%}%>
                    <ul class="reaction">
                        <li>
                            <div class="happy" title="Happy"><%=value.like%></div>
                        </li>
                        <li>
                            <div class="unhappy" title="Unhappy"><%=value.dislike%></div>
                        </li>
                    </ul>
                </div>
            <%})%>
            </div>
            <%if(button){%>
                <a href="/dashboard/more">
                    <input type="button" value="Load More">
                </a>
            <%}%>
        </section>
    </section>
</body>
</script>
</html>
