<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/assets/css/post.css">
    <title><%=data.title%></title>
</head>
<body>
    <%-include("./partials/navbar",{title:"Petisi Online"})%>
    <section class="show">
        <div class="header">
            <span class="title"><%=data.title%></span>
            <hr>
        </div>
        <div class="content">
            <span class="fullpage"><%=data.content%></span>
            <ul class="action">
                <li>
                    <a href="/dashboard/post/like/<%=data.id%>/<%=activeUser%>">
                        <div class="happy" title="Berikan reaksi setuju"><%=like%></div>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/post/dislike/<%=data.id%>/<%=activeUser%>">
                        <div class="unhappy" title="Berikan reaksi tidak setuju"><%=dislike%></div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>
